<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-success table-hover table-inverse text-center">
        <thead>
          <tr>
            <th>User</th>
            <th>タスク</th>
            <th>詳細&nbsp;&nbsp;【投稿者は詳細リンクをクリックすると編集できます】</th>
            <th>実施状況</th>
            <th></th>
            <th>開始</th>
            <th>終了</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
              <% end %>
            </td>
            <td><%= @task.title %></td>
            <td>
              <!--投稿者にだけタスクの編集権限を付与-->
              <% if @user == current_user %>
                <%= link_to @task.body, edit_task_path(@task) %>
              <% else %>
                <%= @task.body %>
              <% end %>
            </td>
            <td class="check_box">
              <%= render 'checks/check_box', task: @task %>
            </td>
            <% if current_user.own?(@task) %>
              <td>
                <i class="far fa-heart" style="font-size: 20px;"><%= @task.likes.count %></i>
                <p>コメント件数:&nbsp;<%= @task.task_comments.count %></p>
              </td>
            <% else %>
              <td>
                <div id="like_buttons_<%= @task.id %>">
                  <%= render "likes/like_button", task: @task %>
                </div>
                <p>コメント件数:&nbsp;<%= @task.task_comments.count %></p>
              </td>
            <% end %>
            <td><%= @task.start_date.strftime("%Y,%m/%d %H:%M") %></td>
            <td><%= @task.end_date.strftime("%Y,%m/%d %H:%M") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--コメント一覧を表示する-->
  <% @task.task_comments.each do |task_comment| %>
    <!--もしコメントしたユーザーとログインしているユーザーが一致している場合表示を変更する。-->
    <% if task_comment.user == current_user %>
      <%= render "task_comments/task_comment", task_comment: task_comment %>
    <% else %>
      <div class="row">
        <div class="col-1 px-0">
          <div class="row" style="width: 1%;">
            <div class="col-1">
              <%= attachment_image_tag task_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
            </div>
          </div>
          <div class="row px-2">
            <%= task_comment.user.name %>
          </div>
          <div class="row px-2">
            <%= task_comment.created_at.strftime("%m/%d %H:%M") %>
          </div>
        </div>
        <%= task_comment.comment %>
      </div>
    <% end %>
  <% end %>
  <!--コメント投稿フォームを表示する-->
  <div class="row">
    <%= form_with(model:[@task, @task_comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5',placeholder: "コメント投稿欄", class:"form-control" %>
      <div class="col-12 d-flex justify-content-end my-2">
        <%= f.submit "送信", class:"btn btn-outline-warning" %>
      </div>
    <% end %>
  </div>
</div>