<h2>gmap</h2>
<!-- form_withはデフォルトでremote: trueの挙動になります -->
<%= form_with url: map_request_path, method: :get do |f|%>
  <div class="col-3 d-flex flex-row mb-5">
    <%= f.text_field :location, value: @event.location, class:"form-control" %>
    <%= f.submit '地図表示', class:"btn btn-secondary btn-sm ms-2" %>
  </div>
<% end %>
<div id='map'></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['G_MAP'] %>&callback=initMap" asyncdefer></script>
<!--Google Map APIの指定URLを記述。-->

<script>
  (function(){
  // 位置情報をもつ変数を用意
  let pos = new google.maps.LatLng(
   <%= @latlng[0] %>,  <!--配列の1個目が緯度-->
   <%= @latlng[1] %>   <!--配列の2個目が経度-->
  );

  mapInstance.setCenter(pos)
  let marker = new google.maps.Marker({
    map: mapInstance,
    position: pos  <!--変数posで得た緯度経度が代入される-->
  });
})()
</script>