<% task_comments.each do |task_comment| %>
  <!--もしコメントしたユーザーとログインしているユーザーが一致している場合表示を変更する。-->
  <% if task_comment.user == current_user %>
    <%= render "task_comments/task_comment", task_comment: task_comment %>
  <% else %>
    <table class="chat-table">
      <tr class="row justify-content-center">
        <td>
          <!-- アイコンを右側に表示する -->
          <div class="d-flex flex-row">
            <div class="d-flex flex-column me-3">
              <%= attachment_image_tag task_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
              <strong><h6><%= task_comment.user.name %></h6></strong>
            </div>
            <div class="other-user-says-task">
              <p class="chat-content"><%= task_comment.comment %></p>
            </div>
          </div>
        </td>
        <td class="d-flex justify-content-start">
          <%= task_comment.created_at.strftime("%m/%d %H:%M") %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>