<!--<script type='text/javascript' src='fullcalendar/gcal.js'></script>-->
<!--script type="text/javascript" src="https://unpkg.com/@fullcalendar/google-calendar@5.8.0/main.global.min.js"></script-->
<!--script type="text/javascript" src="https://raw.githubusercontent.com/fullcalendar/fullcalendar/v3.7.0/dist/gcal.js"></script-->

<!--新規投稿フォーム作成-->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  イベントを作成する
</button>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">新規作成</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_with model: @event, local:true do |f| %>
        <div class="modal-body">
          <%= f.label "タイトル" %>
          <% if @event.errors.include?(:title) %>
            <strong style="color: red;"><%= @event.errors.full_messages_for(:title).first %></strong>
          <% end %>
          <%= f.text_field :title, class:"form-control" %>
          <%= f.label "概要" %>
          <% if @event.errors.include?(:body) %>
            <strong style="color: red;"><%= @event.errors.full_messages_for(:body).first %></strong>
          <% end %>
          <%= f.text_area :body, class:"form-control" %>
          <%= f.label "場所" %>
          <% if @event.errors.include?(:location) %>
            <strong style="color: red;"><%= @event.errors.full_messages_for(:location).first %></strong>
          <% end %>
          <%= f.text_field :location, class:"form-control" %>
          <%= f.label "開始" %>
          <% if @event.errors.include?(:start_date) %>
            <strong style="color: red;"><%= @event.errors.full_messages_for(:start_date).first %></strong>
          <% end %>
          <%= f.datetime_field :start_date, class:"form-select" %>
          <%= f.label "終了" %>
          <% if @event.errors.include?(:end_date) %>
            <strong style="color: red;"><%= @event.errors.full_messages_for(:end_date).first %></strong>
          <% end %>
          <%= f.datetime_field :end_date, class:"form-select" %>
        </div>
        <div class="modal-footer">
          <%= f.submit "作成！", class:"btn btn-info" %>
          <!--<button type="button" class="btn btn-info">投稿！</button>-->
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="events_calendar"></div>