<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-secondary table-hover table-inverse text-center">
        <thead>
          <tr>
            <th>User</th>
            <th>タイトル</th>
            <th class="text-break">概要&nbsp;&nbsp;【投稿者は概要リンクをクリックすると編集できます】</th>
            <th>場所</th>
            <% if current_user.own?(@event) %>
            <% else %>
              <th></th>
            <% end %>
            <th>開始</th>
            <th>終了</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "50x50" %>
              <% end %>
            </td>
            <td><%= @event.title %></td>
            <td>
              <!--投稿者にだけイベントの編集権限を付与-->
              <% if @user == current_user %>
                <%= link_to @event.body, edit_event_path(@event) %>
              <% else %>
                <%= @event.body %>
              <% end %>
            </td>
            <td><%= @event.location %></td>
            <!--自分の投稿か否かをここから判断-->
            <% if current_user.own?(@event) %>
            <% else %>
              <td id="favorite_buttons_<%= @event.id %>">
                <%= render "favorites/favorite_button", event: @event %>
              </td>
            <% end %>
            <td><%= @event.start_date.strftime("%Y,%m/%d %H:%M") %></td>
            <td><%= @event.end_date.strftime("%Y,%m/%d %H:%M") %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>