<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row mt-1 mb-5">
      <div class="col-sm-2 offset-sm-5">
        <h2 class="text-center">Log in</h2>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row my-5">
        <div class="col-1 offset-md-3"><%= f.label "ユーザー名" %></div>
        <div class="col-3 offset-md-3"><%= f.text_field :name, autofocus: true, placeholder: "Taroken", class:"form-control" %></div>
      </div>

      <div class="row my-5">
        <div class="col-1 offset-md-3"><%= f.label "パスワード" %></div>
        <div class="col-2 offset-md-3"><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="row">
          <div class="col-3 offset-md-7 my-5">
            <%= f.check_box :remember_me %>
            <%= f.label "ログイン情報を保存する" %>
          </div>
        </div>
      <% end %>

      <div class="row my-5">
        <div class="col-2 offset-md-5"><%= f.submit "ログイン", class:"col-12 btn btn-primary" %></div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-2 offset-md-10">
        <p>まだ登録がお済みでない方は<%= render "devise/shared/links" %>から新規登録してください。</p>
      </div>
    </div>
  </div>
</main>