<% @entries.each do |entry| %>
  <div class="d-flex flex-row ms-5">
    <%= link_to attachment_image_tag(entry.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class:"rounded-circle"), user_path(entry.user) %>&nbsp;&nbsp;
    <h1><%= entry.user.name %></h1>
  </div>
<% end %>
<% if @messages.present? %>
  <table class="chat-table">
    <tbody id="index">
      <%= render "messages/index", messages: @messages %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">メッセージはありません</h4>
<% end %>
<%= form_with model: @message, class:"d-flex flex-row pb-2", remote:true do |f| %>
  <%= f.text_area :content, placeholder:"メッセージを入力", class:"form-control" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <%= f.button type: 'submit', class:"btn btn-default" do %>
    <i class="fas fa-paper-plane"></i>
  <% end %>
<% end %>