<% @entries.each do |entry| %>
  <div class="d-flex flex-row ms-5">
    <%= link_to attachment_image_tag(entry.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class:"rounded-circle"), user_path(entry.user) %>&nbsp;&nbsp;
    <h1><%= entry.user.name %></h1>
  </div>
<% end %>
<% if @messages.present? %>
  <table class="chat-table">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <tr class="row justify-content-center">
          <td>
            <!-- 自分用の吹き出しCSSクラスを適用する -->
            <%= link_to message_path(message), class:"btn-sm btn-danger float-end ms-3", method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <div class="says">
              <p><%= message.content %></p>
            </div>
          </td>
          <td class="d-flex justify-content-end">
            <%= message.created_at.strftime("%m/%d %H:%M") %>
          </td>
        </tr>
      <% else %>
        <tr class="row justify-content-center">
          <td>
            <div class="ms-2">
              <%= message.user.name %><br>
            </div>
            <!-- アイコンを右側に表示する -->
            <div class="d-flex flex-row">
              <div class="me-3"><%= attachment_image_tag message.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "35x35", class:"rounded-circle" %></div>
              <div class="other-user-says">
                <p><%= message.content %></p>
              </div>
            </div>
          </td>
          <td class="d-flex justify-content-start">
            <%= message.created_at.strftime("%m/%d %H:%M") %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <h4 class="text-center">メッセージはありません</h4>
<% end %>
<%= form_with model: @message, class:"d-flex flex-row pb-2" do |f| %>
  <%= f.text_area :content, placeholder:"メッセージを入力", class:"form-control" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <%= f.button type: 'submit', class:"btn btn-default" do %>
    <i class="fas fa-paper-plane"></i>
  <% end %>
<% end %>