<% @entries.each do |entry| %>
  <div class="d-flex flex-row ms-5">
    <%= attachment_image_tag entry.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "60x60", class:"rounded-circle" %>&nbsp;&nbsp;
    <h1><%= link_to entry.user.name, user_path(entry.user) %></h1>
  </div>
<% end %>
<% if @messages.present? %>
  <% @messages.each do |message| %>
    <%# if message.user == current_user %>

    <%# else %>
      <div class="row">
        <div class="d-flex flex-row">
          <div class="d-flex flex-column">
            <%= attachment_image_tag message.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "35x35", class:"rounded-circle" %>
            <p class="text-center"><%= message.user.name %></p>
          </div>&nbsp;
          <%= message.content %>
        </div>
      </div>
    <%# end %>
  <% end %>
<% else %>
  <h4 class="text-center">メッセージはありません</h4>
<% end %>
<%= form_with model: @message, class:"d-flex flex-row pb-2" do |f| %>
  <%= f.text_area :content, placeholder:"メッセージを入力", class:"form-control" %>
  <%= f.hidden_field :room_id, :value => @room.id %>
  <%= f.button type: 'submit', class:"btn btn-default" do %>
    <i class="fas fa-paper-plane"></i>
  <% end %>
<% end %>