<% event_comments.each do |event_comment| %>
  <!--もしコメントしたユーザーとログインしているユーザーが一致している場合表示を変更する。-->
  <% if event_comment.user == current_user %>
    <%= render "event_comments/event_comment", event_comment: event_comment %>
  <% else %>
    <table class="chat-table">
      <tr class="row justify-content-center">
        <td>
          <!-- アイコンを右側に表示する -->
          <div class="d-flex flex-row">
            <div class="d-flex flex-column me-3">
              <%= link_to (attachment_image_tag event_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "40x40"), user_path(event_comment.user) %>
              <strong><h6><%= event_comment.user.name %></h6></strong>
            </div>
            <div class="other-user-says-event">
              <p class="chat-content"><%= event_comment.comment %></p>
            </div>
          </div>
        </td>
        <td class="d-flex justify-content-start">
          <%= event_comment.created_at.strftime("%m/%d %H:%M") %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>