<% event.event_comments.each do |event_comment| %>
  <!--もしコメントしたユーザーとログインしているユーザーが一致している場合表示を変更する。-->
  <% if event_comment.user == current_user %>
    <%= render "event_comments/event_comment", event_comment: event_comment %>
  <% else %>
    <div class="row">
      <div class="col-1 px-0">
        <div class="row" style="width: 1%;">
          <div class="col-1">
            <%= attachment_image_tag event_comment.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
          </div>
        </div>
        <div class="row px-2">
          <%= event_comment.user.name %>
        </div>
        <div class="row px-2">
          <%= event_comment.created_at.strftime("%m/%d %H:%M") %>
        </div>
      </div>
      <%= event_comment.comment %>
    </div>
  <% end %>
<% end %>