<div class="row">
  <div class="col-md-2 offset-md-5">
    <h1 class="text-center">My Page</h1>
  </div>
  <div class="col-md-2 offset-md-3">
    <%= link_to "編集する", edit_user_path(user), class:"btn btn-outline-success btn-lg my-1" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mt-5">
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "400x400" %>
  </div>
  <div class="col-md-7 offset-md-1">
    <!--ユーザー情報を表示させる-->
    <div class="row my-5 py-4 px-3">
      <div class="col-md-6">
        <p style="font-size: 20px;">ユーザー名</p>
      </div>
      <div class="col-md-6">
        <p style="font-size: 20px;"><%= user.name %></p>
      </div>
    </div>
    <div class="row my-5 py-4 px-3">
      <div class="col-md-6">
        <p style="font-size: 20px;">メールアドレス</p>
      </div>
      <div class="col-md-6">
        <p style="font-size: 20px;"><%= user.email %></p>
      </div>
    </div>
    <div class="row my-5 py-4 px-3">
      <div class="col-md-6">
        <p style="font-size: 20px;">イントロダクション</p>
      </div>
      <div class="col-md-6">
        <p style="font-size: 20px;"><%= user.introduction %></p>
      </div>
    </div>
  </div>
</div>