<!DOCTYPE html>
<html>
  <head>
    <title>Eventas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
  </head>

  <body data-turbolinks="false">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efe0ff;">
        <div class="container">
          <%= link_to root_path, class:"logo" do %>
            <%= image_tag 'logo4.png', size: "60x60" %>
            <h1 style="font-size: 30px; color: #000; line-height: 52px;">&nbsp;&nbsp;Eventas</h1>
          <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <% if user_signed_in? %>
                <li class="btn-group me-3" role="group" aria-label="First group">
                  <p>welcome to
                    <strong><%= current_user.name %></strong>
                    ！
                  </p>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Second group">
                  <%= link_to "Users", users_path, class:"btn btn-secondary" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Third group">
                  <%= link_to "Event Calendar", events_path, class:"btn btn-success" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Fourth group">
                  <%= link_to "Task Calendar", tasks_path, class:"btn btn-primary" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Fifth group">
                  <%= link_to "My Page", user_path(current_user), class:"btn btn-warning" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Sixth group">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
                </li>
              <% else %>
                <li class="btn-group me-3" role="group" aria-label="First group">
                  <%= link_to "About", home_about_path, class:"btn btn-outline-dark" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Second group">
                  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-info" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Third group">
                  <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-success" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="sticky-bottom">
      <div class="container">
        <div class="row">
          <div class="col-2 offset-md-5 text-center">
            <p class="mb-0">©2021 Eventas Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
