<!DOCTYPE html>
<html>
  <head>
    <title>Eventas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.0/main.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </head>

  <body data-turbolinks="false">
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #efe0ff;">
        <div class="container">
          <div class="ms-5">
            <%= link_to root_path, class:"logo" do %>
              <%= image_tag 'logo4.png', size: "65x65" %>
              <h1 class="d-flex align-items-center" style="font-size: 30px; color: #000;">&nbsp;Eventas</h1>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
              <ul class="navbar-nav ms-5">
                <li class="btn-group me-5 d-flex align-items-center" role="group" aria-label="First group">
                  <%= render "layouts/search" %>
                </li>
                <li class="btn-group me-5" role="group" aria-label="Second group">
                  <div class="d-flex align-items-center">
                    <div class="d-flex flex-row">
                      <p class="d-flex align-items-center mb-0 text-center">Hi,&nbsp;</p>
                      <p class="d-flex align-items-center mb-0"><strong><%= current_user.name %></strong>！</p>
                    </div>
                  </div>
                </li>
                <li class="btn-group" role="group" aria-label="Third group">
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle" style="color: #00fa9a; position: absolute; z-index: 1;"></i>
                  <% end %>
                  <li class="me-5">
                    <div class="dropdown">
                      <a class="fs-2" href="notifications" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;">
                        <i class="fas fa-bell" style="color: black;"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 500px">
                        <h5 class="text-center">通知</h5>
                        <%= link_to notifications_destroy_all_path, method: :delete do %>
                          <i class="fas fa-trash" style="color: black;"></i>
                          <h7 style="color: black;">全削除</h7>
                        <% end %>
                        <%#= paginate @notifications %>
                        <hr>
                        <% if @notifications.exists? %>
                          <li class="users-index">
                            <%= render @notifications %>
                          </li>
                        <% else %>
                          <li>通知はありません</li>
                        <% end %>
                      </ul>
                    </div>
                  </li>
                </li>
                <li class="btn-group me-5" role="group" aria-label="Fourth group">
                  <%= link_to users_path, class:"fs-2", 'data-toggle': :tooltip, 'title': :"Users" do %>
                    <i class="fas fa-users" style="color: dimgray;"></i>
                  <% end %>
                </li>
                <li class="btn-group me-5" role="group" aria-label="Fifth group">
                  <%= link_to events_path, class:"fs-2", 'data-toggle': :tooltip, 'title': :"Event Calendar" do %>
                    <i class="fas fa-calendar-alt" style="color: forestgreen;"></i>
                  <% end %>
                </li>
                <li class="btn-group me-5" role="group" aria-label="Sixth group">
                  <%= link_to tasks_path, class:"fs-2", 'data-toggle': :tooltip, 'title': :"Task Calendar" do %>
                    <i class="fas fa-calendar-check" style="color: dodgerblue;"></i>
                  <% end %>
                </li>
                <li class="btn-group me-5" role="group" aria-label="Seventh group">
                  <%= link_to user_path(current_user), class:"fs-2", 'data-toggle': :tooltip, 'title': :"My Page" do %>
                    <i class="fas fa-house-user" style="color: gold;"></i>
                  <% end %>
                </li>
                <li class="btn-group me-5 d-flex align-items-center" role="group" aria-label="Eighth group">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-danger btn-sm d-flex align-items-center h-75" %>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav ms-auto">
                <li class="btn-group me-3" role="group" aria-label="First group">
                  <%= link_to "About", home_about_path, class:"btn btn-outline-dark" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Second group">
                  <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-info" %>
                </li>
                <li class="btn-group me-3" role="group" aria-label="Third group">
                  <%= link_to "Log in", new_user_session_path, class:"btn btn-outline-success" %>
                </li>
              </ul>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="sticky-bottom" style="background-color: royalblue;">
      <div class="container">
        <div class="row">
          <div class="col-2 offset-md-5 text-center">
            <p class="mb-0">©2021 Eventas Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
